.skills {
  display: flex;
  height: 100vh;
}

.codingSKills{
  display: flex;
  width: 100%;
  margin-top: 30px;
  

}

.skill-header{
  margin-top: 15px;
  font-size: 35px;
  font-family: "Yeseva One";
  margin-left: 65px;
}
.values {
  display: flex;
  margin-top: 250px;
  margin-left: 80px;
  width: 24rem;
  height: 14rem;
}

/* @media screen and (max-width: 480px) {
    .skills {
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }
    .skill {
      display: flex;
    }
  } */
