.about {
  display: flex;
  height: 100vh;
    
}

h5 {
  margin-top: 15px;
  font-size: 35px;
  font-family: "Yeseva One"
}
.lefts {
  display: flex;
}
.card-passage {
  font-size: 25px;
  font-family: 'Taviraj';
  box-shadow: 10px 4px 10px 10px #888888;
}


.right-clipA {
  padding-left: 200px;
  top: -15px;
  width: 60%;
  height: 110%;
  clip-path: polygon(25% 15.25%, 75% 15.25%, 75% 75%, 25% 75%);
  background-color: #000000;
  position: absolute;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 40px;
  margin-right: 30px;
  padding: 20px;
  font-size: 10px;
}

.rights {
  display: flex;
  width: 70%;

  position: relative;
  justify-content: center;
  align-items: center;
}

.img-dis {
  padding: 7%;
  width: 70%;
  height: 90%;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img-dis {
  padding: 40px;
  width: 80%;
  transition: transform 0.2s;
}
.img-dis:hover {
  transform: scale(1.5);
}
.paragraph {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 110px;
}


@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .rights {
    width: 100%;
  }

  .img-dis {
    height: 30vh;
    display: none;

  }

  
  .lefts {
    padding: 20px;
  }
  .right-clipA{
    display: none;
  }
}
