.sovtech {
  display: flex;
  height: 100vh;
}
.sovContainer{
  display: flex;
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: 70px; 
  width: 70%;

}
.reason-header {
  display: flex;
  font-size: 35px;
  font-family: 'Yeseva One';
  margin-top: 230px;
}

.reasoning {
  font-style: italic;
}

/* @media screen and (max-width: 480px) {
  .sovtech {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .reasoning {
    display: flex;
  }
} */
