.intro{
    display: flex;
    height: 100vh;
}
.left{
    flex: 0.5;
    /* background-color: pink; */

}
.right{
    flex: 0.5;


}
.display-img{
    padding: 7%;
    padding-left: 106px;
    width: 50%;
    height: 90%;
    object-fit: cover; 
    position: relative;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

p{
    right: 110px;
    bottom: 80px;
    position:relative; 
    
}
h2{
    display: flex;
    font-size: 30px;
    

}

h3{
    display: flex;
    font-size: 35px;
}

h4{
    display: flex;
    font-size: 30px;
    padding-left: 40px;

}
span{
    margin-left: 6px;
}
.ityped-cursor {
    animation: blink 1s infinite;
  }

  @keyframes blink {
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
      }
  }




@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
    .intro {
      flex-direction: column;
    }
  
    .left {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .intro-descr{
      display: none;
    }
    
}
  