.App{
    height: 100vh;
}
.sections{
    width: 100%;
    height: calc(100vh - 70px);
    /* background-color: orangered; */
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type:  y mandatory;
    scrollbar-width: none;
}
.intro, .about, .education, .skills, .projects, .sovtech, .contacts{
    width: 100%;
    height: calc(100vh - 70px);

}

.intro, .education, .projects, .contacts{
    background-color: #764d80;
    background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");

}
.about, .skills, .sovtech{
    background-color: #690d80;
    background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
}